<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="BaseUrl" value="https://stg.lottobaba.com/" />
    <add key="BaseAdminUrl" value="http://stgadmin.lottobaba.com/" />
    <add key="Login" value="seleniumnew@grr.la" />
    <add key="LoginTwo" value="selenium2@grr.la" />
    <add key="LoginThree" value="selenium3@grr.la" />
    <add key="LoginFour" value="selenium4@grr.la" />
    <add key="Password" value="11111111" />
    <add key ="AdminLogin" value="denis@mail.com"/>
    <add key ="AdminPassword" value="11111111"/>
  </appSettings>
 
</configuration>