<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <TestGroup>
    <ParallelTests>
      <ParallelTest>
        <Name>Testing</Name>
        <Tests>
          <TestConf>
            <Name>Testing</Name>
            <Assembly>SeleniumTests.dll</Assembly>
            <TestToRun>LottoSend.com.TestCases.BuyRaffleTicket.Check_Amount_In_Transaction_Front</TestToRun>
            <Machine>localhost:8080</Machine>
            <TestParams>
              <string>Firefox</string>
              <!-- server dir-->
              <string>20.0</string>
              <!-- database server -->
              <string>WIN7</string>
              <!-- conn string -->
            </TestParams>
          </TestConf>
          <TestConf>
            <Name>Testing</Name>
            <Assembly>C:\Users\Denis\Documents\Visual Studio 2013\Projects\LottoSend.com\LottoSend.com\bin\Debug\SeleniumTests.dll</Assembly>
            <TestToRun>LottoSend.com.TestCases.BuyRaffleTicket.Check_Type_Of_Transaction_Front</TestToRun>
            <Machine>localhost:8080</Machine>
            <TestParams>
              <string>Firefox</string>
              <!-- server dir-->
              <string>20.0</string>
              <!-- database server -->
              <string>WIN7</string>
              <!-- conn string -->
            </TestParams>
          </TestConf>
        </Tests>
      </ParallelTest>
    </ParallelTests>
  </TestGroup>
</configuration>